
  <a class="btn btn-primary" 
  data-bs-toggle="collapse" 
  href="#jobHistory" 
  role="button" 
  aria-expanded="false" 
  aria-controls="jobHistory">
    Job History
  </a>
    <a class="btn btn-secondary" 
  data-bs-toggle="collapse" 
  href="#education" 
  role="button" 
  aria-expanded="false" 
  aria-controls="education">
    Education
  </a>
    <a class="btn btn-danger" 
  data-bs-toggle="collapse" 
  href="#courses" 
  role="button" 
  aria-expanded="false" 
  aria-controls="courses">
    Courses Developed
  </a>
    <a class="btn btn-warning" 
  data-bs-toggle="collapse" 
  href="#press" 
  role="button" 
  aria-expanded="false" 
  aria-controls="press">
    Press
  </a>
