<div id="<%= dom_id skill %>">
  <p>
    <strong>Title:</strong>
    <%= skill.title %>
  </p>

  <p>
    <strong>Percent utilized:</strong>
    <%= skill.percent_utilized %>
  </p>

  <p>
    <strong>Badge:</strong>
    <%= skill.badge %>
  </p>

</div>
